{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if pesan %}
            <div class="alert alert-success">{{ pesan }}</div>
            {% endif %}
            <form action="/tambah-wisata/" method="POST">
                {% csrf_token %} {{form.as_p}}
                <table>
                    <tr>
                        <td><button class="btn btn-primary"> Tambah </button></td>
                        <td><a href="/datawisata" class="btn btn-danger"> Kembali </button></td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
</div>
{% endblock %}