{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if pesan %}
            <div class="alert alert-success">{{pesan}}</div>
            {% endif %}
            <form action="/datawisata/edit/{{edit.id}}" method="POST">
                {% crf_token %} {{form.as_p}}

                <button type="submit" value="edit" class="btn btn-primary"> Edit </button>

            </form>
        </div>
    </div>
</div>

{% endblock %}