<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">BERWISATA DI JOGJA</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Home </a></li>
            <li><a href="/datawisata">Wisata Jogja</a></li>
            <li><a href="#">Booking</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kabupaten
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Sleman</a>
                    <a class="dropdown-item" href="#">Jogja</a>
                    <a class="dropdown-item" href="#">Kulon Progo</a>
                    <a class="dropdown-item" href="#">Bantul</a>
                    <a class="dropdown-item" href="#">Gunung Kidul</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<center>
    <h1>TEMPAT WISATA DIY</h1>
</center>